/* 합주 생성 화면 (5.합주생성 완료 부분) */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f4eb;
    font-family: Arial, sans-serif;
    position: relative;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px; /* 제목 아래 여백 */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;  /* 전체 화면을 차지하도록 수정 */
    height: 50%; /* container가 화면 전체 높이를 차지하도록 설정 */
    padding: 20px;
}

/* 재생 버튼 스타일 */
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #388e3c;
    position: relative;
    margin-top: -100px;
}

.play-button img {
    width: 100px;
    height: 100px;
}

.play-icon {
    width: 100px;  /* 플레이 아이콘 크기 */
    height: 100px; /* 플레이 아이콘 크기 */
    object-fit: contain; /* 이미지 크기에 맞춰 조정 */
}

.share-info {
    margin-top: -20px;
    font-weight: bold;
    font-size: 24px; 
    color: #333;
    text-align: center;
}

/* 아이콘을 담을 컨테이너 */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* 텍스트와 아이콘 사이 여백 */
}

/* 공유 아이콘 스타일 */
.share-icon {
    width: 60px;
    height: 60px;
    margin: 0 15px; /* 아이콘 사이 간격 */
    object-fit: contain;
}

/* 인스타그램 아이콘 크기 조정 */
.insta-icon {
    width: 80px;  /* 인스타그램 아이콘 크기만 키움 */
    height: 80px;
}